<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//A/PPL//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>https://github.com/brrrrbrbr/ios-apps1/releases/download/v1.0/_.Anero._230.1_iOS_16.0+_kovalikvlad2@icloud.com.ipa</key>
                    <string>https://example.com</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>online.anero.app</key>
                <string>com.example.myapp</string>
                <key>230.1</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>Anero</key>
                <string>My App</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
